<% provide(:title, "Ingresar") %>
<h1>Ingresar</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="control-group">
        <%= f.label :username, "Usuario" %>
        <%= f.text_field :username %>
      </div>
      <div class="control-group">
        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password %>
      </div>
      <div class="control-group">
        <%= f.button "Ingresar", type: "submit", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>