<tr>
	<td><%= link_to user.id, user %></td>
	<td><%= link_to user.username, user %></td>
	<td><%= user.first_name + ' ' + user.last_name %></td>
	<td><%= user.email %></td>
	<td><%= user.admin ? "Si" : "No" %>
	<td>
		<%= link_to "Ver", user, class: "btn btn-small" %>
		<% if current_user.admin? %>
		<%= link_to "Editar", edit_user_path(user), class: "btn btn-small" %>
		<%= link_to "Password", user_change_password_path(user), class: "btn btn-small btn-info" %>
		<% if !current_user?(user) %>
		<%= link_to "Borrar", user, class: "btn btn-small btn-danger", method: :delete, data: { confirm: "Esta seguro?" } %>
		<% end %>
		<% end %>
	</td>
</tr>