<% provide(:title, "Cambiar password de " + @user.username) %>
<h2>Cambiar password de <%= @user.username %></h2>

<%# form_tag user_change_password_update_path(@user), :method => :put do |f| %>
<%= form_for @user, :url => user_change_password_update_path(@user), :method => :put, :html => { :class => "form-horizontal" } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="<%= control_group_class @user, :password %>">
    <%= f.label :password, "Nuevo password", class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="<%= control_group_class @user, :password_confirmation %>">
    <%= f.label :password_confirmation, "Confirmar Password", class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Guardar", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>