<tr>
  <td class="text-center"><%= link_to consignment.id, consignment %></td>
  <td><%= link_to consignment.name, consignment %> a <%= link_to consignment.supplier.name, consignment.supplier %></td>
  <td class="text-right"><%= format_with_no_decimals consignment.consignment_details.count(:quantity) %></td>
  <td class="text-right"><%= format_with_no_decimals consignment.consignment_details.sum(:quantity) %></td>
  <td class="text-right"><%= format_with_two_decimals consignment.consignment_details.sum("cost * quantity") %></td>
  <td class="text-center"><% if consignment.status == 1 %><label class="label label-warning">Enviado</label><% else %><label class="label label-success">Recibido</label><% end %></td>
  <td>
    <%= link_to "Ver", consignment, class: "btn btn-small" %>
    <%= link_to("Editar", edit_consignment_path(consignment), class: "btn btn-small") if current_user.admin? %>
    <%= link_to("Recibir", consignment_receive_path(consignment), class: "btn btn-small btn-primary", data: { confirm: "Esta seguro?" }) if consignment.status == 1 %>
    <%= link_to("Borrar", consignment, class: "btn btn-small btn-danger", method: :delete, data: { confirm: "Esta seguro?" }) if current_user.admin? %>
  </td>
</tr>