<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Naila Center", root_path, id: "logo", class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <li class="<%= "active" if (params[:controller] == "dashboard") %>"><%= link_to "Dashboard", root_path %></li>
          <% if signed_in? %>
          <li class="<%= "active" if (params[:controller] == "sales") %>"><%= link_to "Ventas", '#' %></li>
          <li class="<%= "active" if (params[:controller] == "products") %>"><%= link_to "Productos", '#' %></li>
          <li class="<%= "active" if (params[:controller] == "inventory") %>"><%= link_to "Inventario", '#' %></li>
          <li class="<%= "active" if (params[:controller] == "customers") %>"><%= link_to "Clientes", '#' %></li>
          <li class="<%= "active" if (params[:controller] == "users") %>"><%= link_to "Usuarios", users_path %></li>
          <li><%= link_to "Salir", logout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Ingresar", login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>